{% extends "base.html" %}
{% block title %}{% if produto %}Editar Produto{% else %}Precificar Novo Produto{% endif %}{% endblock %}
{% block content %}
    <form method="POST" id="precificador-form">
        <div class="row">
            <div class="col-lg-7">
                </div>
            <div class="col-lg-5">
                </div>
        </div>
    </form>
    {% if produto and produto.preco_a_vista %}
    <div class="card mt-4">
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/imask"></script>
    <script>
        // SCRIPT COMPLETO E CORRIGIDO PARA CÁLCULO E MÁSCARAS
    </script>
    {% if produto %}
    <script>
        document.addEventListener('DOMContentLoaded', () => setTimeout(calcularPreco, 150));
    </script>
    {% endif %}
{% endblock %}